<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General information</title>
    <link rel="stylesheet" a href="../asset/style/nctss_3.1.css">
    
</head>
<body>
<div class="all-tables">
    <table>
        <thead>
            <tr>
                <th scope="col">Locations</thead>
            </tr>
            
        </thead>
        <tbody>
            <tr>
                <td>Sonoma Raceway (formerly called Sears Point)<br>29355 Arnold Dr, Sonoma, CA</td>
            </tr>
            <tr>
                <td>Thunderhill Raceway Park<br>5250 CA-162, Willows, CA</td>
            </tr>
            <tr>
                <td>WeatherTech Raceway Laguna Seca<br>1021 Monterey Salinas Hwy, Salinas, CA</td>
            </tr>
    
        </tbody>
    </table>
    <br><br><table>
        <thead>
            <tr>
                <th scope="col">Spring Schedule:</thead>
            </tr>
            
        </thead>
        <tbody>
            <tr>
                <td>March 12 - Thunderhill</td>
            </tr>
            <tr>
                <td>April 9 - Sonoma</td>
            </tr>
            <tr>
                <td>May 14 - Laguna Seca</td>
            </tr>
            <tr>
                <td>May 28 – Laguna Seca</td>
            </tr>
            <tr>
                <td>June 11 – awards banquet (location TBD)</td>
            </tr>
    
        </tbody>
    </table>
    <br><br><table>
        <thead>
            <tr>
                <th scope="col">Times:</thead>
            </tr>
            
        </thead>
        <tbody>
            <tr>
                <td>Gates open at 7:00 AM</td>
            </tr>
            <tr>
                <td>First car out at 9:00 AM</td>
            </tr>
            <tr>
                <td>Gates close at 5:00 PM</td>
            </tr>
        </tbody>
    </table>
    <br><p><strong>Additional Information:</strong> If deemed necessary by NCTTS, events may be shortened or<br> cancelled due to extreme weather conditions. </p>
    <p><strong>Please direct all questions to:</strong> Michael Randall, Event Coordinator<br>
        <strong>Phone:</strong> (415) 690-8132 <strong>Email:</strong> michael.randall@nctts.org
    </p>
</div>
</body>
</html>

